<table id="staffdir">
  <thead>
    <tr>
      <th>Name</th><th>All departments</th><th>Title</th><th>Telephone</th><th>Email</th>
    </tr>
  </thead>
  <tbody>
    <% @people.each do |p| %>
    <tr vocab="http://schema.org/" typeof="Person">
      <td>
        <span property="name"><%= p.suDisplayNameLF %></span>
        <% if p.lib_profile? %>
          <%= link_to "http://library.stanford.edu/people/#{p.uid}", target: '_parent', property: 'sameAs' do %>
            <%= image_tag 'profile.png', alt: 'Profile', title: "See #{p.displayName}'s profile page" %>
          <% end %>
        <% end %>
      </td>
      <td property="worksFor" typeof="Organization">
        <span property="name"><%= p.suPrimaryOrganizationName %></span>
      </td>
      <td property="jobTitle"><%= p.title %></td>
      <td property="telephone"><%= Array(p.telephoneNumber).first %></td>
      <td property="email"><%= p.mail %></td>
    </tr>
    <% end %>
  </tbody>
</table>
